extends layout

block content
    div(class='user-page')
        div(class='container')
            div
                if(message)
                    div#note #{message}
            div(class='user-header')
              h2.
                Users
              a(href='/users/add', class='add-user') Add
              a(href='/users/upload', class='add-user') Upload CSV
            div
              table
                thead
                    tr
                        th Name
                        th Email
                        th Action
                tbody
                  each user, i in users
                    tr(class=(i % 2 == 0) ? 'odd' : 'even')
                      td=user.name
                      td=user.email
                      td
                        a(href='/users/update/' + user.iduser, class='a-inside edit') Edit
                        a(href='/users/delete/' + user.iduser , class='a-inside delete') Delete