body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2{
  color: #000;
  font-size: 42px;
}

h3{
  font-size: 30px;
}

p{
  color: #fff;
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #fff;
}

.container {
  font-family: 'Helvetica';
  width: 1170px;
  margin: 0 auto;
}

.container{
  width: 1170px;
  margin:0 auto;
}

.header{
  background-color: #000;
  height: 130px;
  position: relative;
}

.header .container{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.logo{
  float: left;
}

.nav{
  float: right;
}

.nav ul li{
  display: inline;
  padding: 20px;
}

.nav ul li:hover{
  font-weight: bold;
}

.user-page > div{
  margin-top: 30px;
}

.user-header{
  height: 60px;
  padding: 15px;
}

.user-header h2{
  color: #000;
  float: left;
}

.user-header a{
  float: right;
}

.user-list span{
  color: #000;
  font-size: 16px;
  padding: 15px;
}

.user-page table{
  border: 1px solid #ddd;
  margin: 0 auto;
  width: 100%;
}

.user-page thead{
  font-weight: bold;
}

.user-page th{
  background-color: gray;
}

.user-page th,.user-page td{
  line-height: 50px;
  text-align: center;
  border: 1px solid #ddd;
}

.add-user{
  padding: 10px 20px;
  background: #FF9900;
  border: 1px solid #fff;
  color: #FEFFFD;
  font-weight: bold;
}

.a-inside{
  padding: 4px 10px;
  border: 1px solid #fff;
  text-decoration: none;
}

.a-inside.edit{
  background-color: #00CC00;
  color: #fff;
}

.a-inside.delete{
  background-color: #D23641;
  color: #fff;
}

.add-user-page .container h2,
.add-user-page .container form,
.upload-user-page .container h2,
.upload-user-page .container form{
  margin-top: 30px;
}

.add-user-page table, .upload-user-page table{
  width: 25%;
}

.add-user-page th,.add-user-page td, .upload-user-page th, .upload-user-page td{
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}

#formAddUser table td{
  font-weight: bold;
}

#formAddUser input[type="text"] {
  height: 25px;
  width: 200px;
}

.submit-button{
  border: 1px solid #6599FF;
  color: #fff;
  padding: 8px 35px;
  font-weight: bold;
  background: #6599FF;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel {
  background-color: #D23641;
  color: #fff;
  border: 1px solid #d32132;
  padding: 8px 35px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.message{
  font-size: 14px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.error-message{
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.success-message{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.close{
  float: right;
  font-size: 16px;
  color: #000;
  opacity: 0.2;
}

.footer{
  margin-top: 10px;
}

.footer .container p{
  padding:15px;
  color: gray;
  font-size: 14px;
}
