extends ../layout

block content
    div(class='add-user-page')
        div(class='container')
            h2= title
            if(errors)
                ul
                    each error in errors
                        li(class='message error-message')= error.message
            form#formAddUser(name='addUser', method='post',action='/users/add')
                include partial/user-form